<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>Welcome</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="favicon" rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <header>{% block header %}{% endblock %}</header>
    <main>{% block content %}{% endblock %}</main>
    <footer>{% block footer %}{% endblock %}</footer>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/htmx.min.js"></script>
  </body>
</html>
